html,
body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}


h1 {
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-weight: 1000;
    font-size: 3em;
}

header {
  background-color: grey;
  margin-top:-25px;
  padding:10px 0px 0px 10px;
  width:100%;
}
.navbar {
    background-color: lightgray;
    padding: 10px;
    margin-left: -10px;
}

a {
    text-decoration: none;
    color: black;
    border-style: solid;
    padding: 8px;
}

a:hover {
    background-color: darkgrey;
}

.item {
  grid-area: itm;
  padding:10px;
}
.desc {
  grid-area: desc;
  border-left:2px solid lightslategray;
  border-right:2px solid lightslategray;
  padding-left:30px;
  padding:10px;
}
.item-form {
  grid-area: btns;
  padding:10px;
}
.item-edit {
  grid-area: edit;
  padding:10px;
}

.item-container {
    display: grid;
    grid-template-areas:
      'itm itm itm desc desc desc desc desc desc btns edit';
    column-gap: 70px;
    margin-left: 20px;
    border-bottom: 2px solid lightslategray;
    border-left: 2px solid lightslategray;
    border-right: 2px solid lightslategray;

 }

 .item-container > div.item {
     text-align: right;

 }

 .item-container > div {
    background-color: lightgray;
    text-align: left;
}
.item-container:first-child {border-top: 2px solid lightslategray;}
.item-container:nth-child(odd) {background-color:inherit;}
.item-container:nth-child(even) {background-color:lightgray;}



input.comp {
    background-color: #5cb85c;
}

input.uncomp {
    background-color: #d9534f;
}

input.rand {
    background-color: #5cb85c;
    font-size: 2em;
}

input.del {
    background-color: #d9534f;
    font-size: 2em;
}

.random{
  margin: 20px;
  border:2px solid lightslategray;
  background-color: lightgray;
  padding:20px;
  width: 100%;
  display: grid;
  grid-template-rows: 95% 5%;
  height:80%;

}




.lists-grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 70% 20% 10%;
  padding: 10px;
  margin-right:20px;
  width:100%;
  height: 80%;
}

.item-grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 10% 65% 25%;
  padding: 10px;
  margin-right:20px;
  width:100%;
  height: 80%;
}


.item-left-menu{
  grid-row: 1 / span 2;
}
