html,
body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}


h1 {
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-weight: 1000;
    font-size: 3em;
}

h2 {
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-weight: 1000;
    font-size: 1.6em;
    margin:0px;
}


header {
  background-color: grey;
  margin-top:-25px;
  padding:10px 0px 0px 10px;
  width:100%;
}
.navbar {
    background-color: lightgray;
    padding: 10px;
    margin-left: -10px;
}

a {
    text-decoration: none;
    color: black;
    border-style: solid;
    padding: 8px;
}

a:hover {
    background-color: darkgrey;
}

.item {
  padding:10px;
}
.desc {
  border-left:2px solid lightslategray;
  border-right:2px solid lightslategray;
  padding:10px;
}
.item-form {
  padding:10px;
}
.item-edit {
  padding:10px;
}

.item-container {
    display: grid;
    margin-left: 20px;
    border-bottom: 2px solid lightslategray;
    border-left: 2px solid lightslategray;
    border-right: 2px solid lightslategray;
    grid-template-columns: 20% 70% 10%;

 }

 .item-container > div.item {
     text-align: right;

 }

 .item-container > div {
    background-color: lightgray;
    text-align: left;
}
.item-container:first-child {border-top: 2px solid lightslategray;}
.item-container:nth-child(odd) {background-color:inherit;}
.item-container:nth-child(even) {background-color:lightgray;}


input.pos {
    background-color: #5cb85c;
    font-size: 1.1em;
}
input.neg {
    background-color: #d9534f;
    font-size: 1.1em;
}

input.neutral {
    font-size: 1.1em;
}


.random{
  border:2px solid lightslategray;
  background-color: lightgray;
  padding:20px;
  width: 100%;
  display: grid;
  grid-template-rows: 95% 5%;
  height:85%;

}




.lists-grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 70% 20% 10%;
  padding: 10px;
  margin-right:20px;
  width:100%;
  height: 90%;
}

.item-grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 10% 30% 60%;
  padding: 10px;
  margin-right:20px;
  width:100%;
  height: 80%;
}


.item-left-menu{
  grid-row: 1 / span 2;
}



.step-container {
    display: grid;
    border-bottom: 2px solid lightslategray;
    border-left: 2px solid lightslategray;
    border-right: 2px solid lightslategray;
    grid-template-columns: 10% 30% 30% 30%;
    width :100%;
 }

 .step-container:first-child {border-top: 2px solid lightslategray;}
 .step-container:nth-child(odd) {background-color:inherit;}
 .step-container:nth-child(even) {background-color:lightgray;}


.steps-container{
    grid-template-columns: 100%;
    width:90%;
}

#steptable{
  width:100%;
}


.step-number {
  padding:10px;
  border-right:2px solid lightslategray;
}
.step-name {
  border-right:2px solid lightslategray;
  padding:10px;
}
.step-complete {
  border-right:2px solid lightslategray;
  padding:10px;
}
.step-actions {
  padding:10px;
}
