{% extends "base.html" %}

{% block content %}
<header>
<h1>Add Item</h1>

<div class="navbar">

  {% for category, label in categories.items() %}

    <a href={{category}}>{{label}}</a>
  {% endfor %}

  </div>
</header>

<div class="item-grid-container">
  <div class ="item-left-menu">

    </div>
    <div class = item-info">




      <form action = "{{url_for('add_item_submit')}}" class="addform"  method="POST" >

    {{ add_item.hidden_tag() }}
    <table>
      <tbody>
        <tr>
          <td>{{add_item.name.label}}</td>
          <td>{{add_item.name()}}</td>

        </tr>
        <tr>
          <td>{{add_item.description.label}}</td>
          <td>{{add_item.description()}}</td>
        </tr>
        <tr>
          <td>{{add_item.priority.label}}</td>
          <td>{{add_item.priority()}}</td>
        </tr>
        <tr>
          <td>{{add_item.submit()}}</td>
        </tr>
      </tbody>
    </table>
  </form>



    </div>
  </div>

 {% endblock %}
