{% extends "base.html" %}

{% block content %}
<header>
<h1>Item</h1>
<div class="navbar">

  {% for category, label in categories.items() %}

    <a href={{url_for("list",category=category)}}>{{label}}</a>
  {% endfor %}

  </div>
</header>




<div class="item-grid-container">

  <div class ="item-name">

    {% if item.complete == True %}
      <div class = "traffic-light" style = "background-color:#5cb85c;"></div>
    {% else %}
      <div class = "traffic-light" style = "background-color:#d9534f;"></div>
    {% endif %}
    <h1 style = "text-align:left; ">{{item.name | title}} </h1>

  </div>
    <div class = "item-info">


      <div class = "item-description">
      <h3>Priority</h3>
      <p> {{item.priority}} </p>
      <h3>Description</h3>
      <p> {{item.description}} </p>
      <h3>Due</h3>
      <p> {{item.due_time.strftime('%A %d/%m/%y %H:%M')}} </p>
      <h3>Countdown</h3>
      <p id="countdown{{item.id}}">...</p>
      <script>
          // Set the date we're counting down to
          var countDownDate{{item.id}} = new Date("{{item.due_time}}").getTime();

          // Update the count down every 1 second
          var x{{item.id}} = setInterval(function() {

            // Get today's date and time
            var now{{item.id}} = new Date().getTime();

            // Find the distance between now and the count down date
            var distance{{item.id}} = countDownDate{{item.id}} - now{{item.id}};

            // Time calculations for days, hours, minutes and seconds
            var days{{item.id}} = Math.floor(distance{{item.id}} / (1000 * 60 * 60 * 24));
            var hours{{item.id}} = Math.floor((distance{{item.id}} % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes{{item.id}} = Math.floor((distance{{item.id}} % (1000 * 60 * 60)) / (1000 * 60));

            // Display the result in the element with id="demo"
            document.getElementById("countdown{{item.id}}").innerHTML = days{{item.id}} + "d " + hours{{item.id}} + "h "
            + minutes{{item.id}} + "m ";

            // If the count down is finished, write some text
            if (distance{{item.id}} < 0) {
              clearInterval(x{{item.id}});
              document.getElementById("countdown{{item.id}}").innerHTML = "OVERDUE";
            }
          }, 1000);
        </script>
      </div>


    </div>

    <div class = "steps-container">
    {% if steps[0]%}
    <table id = "steptable">
        <tbody>
          <tr class = "step-container">
            <td class = "step-number"><h2>Step</h2></td>
            <td class = "step-name"><h2>Step Name</h2></td>
            <td class = "step-complete"><h2>Complete</h2></td>
            <td class = "step-actions"><h2>Actions</h2></td>
          </tr>
     {% endif %}

      {% for step in steps %}
        <tr class = "step-container">
        <td class = "step-number">{{step.number}}</td>
        <td class = "step-name">{{step.name}}</td>
        {% if step.complete == True %}
        <td class = "step-complete"><div class = "step-traffic-light" style = "background-color:#5cb85c;"></div></td>
        {% elif step.complete == False %}
        <td class = "step-complete" > <div class = "step-traffic-light" style = "background-color:#d9534f;"></div></td>
        {% endif %}
        <td class = "step-actions">
        <form method="POST">
          {% if step.complete == False %}
          <input type="submit" class="pos" name="{{step.id}}" value="Y">
          {% elif step.complete == True %}
          <input type="submit" class="neg" name="{{step.id}}" value="X">
          {% endif %}


        </form>
        </td>
      {% endfor %}
        </tr>
      </table>
    </div>

    <div class = item-btns">
      <form method="POST">
        {% if item.complete == False %}
        <input type="submit" class="pos" name="{{item.id}}" value="Complete">
        {% elif item.complete == True %}
        <input type="submit" class="neg" name="{{item.id}}" value="Uncomplete">
        {% endif %}
        <input type="submit" class="neutral" name="{{item.id}}" value="Edit">
      </form>
    </div>
  </div>

 {% endblock %}
