{% extends "base.html" %}

{% block content %}
<header>
<h1>{{item.name | title}} </h1>

<div class="navbar">

  {% for category, label in categories.items() %}

    <a href={{url_for("list",category=category)}}>{{label}}</a>
  {% endfor %}

  </div>
</header>




<div class="item-grid-container">
  <div class ="item-left-menu">

    </div>
    <div class = item-info">
      <h3>Complete</h3>
      <p> {{item.complete}} </p>
      <h3>Description</h3>
      <p> {{item.description}} </p>

    </div>
    <div class = item-steps">
      {% for step in item.steps %}
        <p>{{step.number}} - {{step.name}} </p>
        <p>Complete: {{step.complete}}</p>
      {% endfor %}

      <form action = "{{url_for('add_step_submit', item_id = item.id)}}" class="addform"  method="POST" >

          {{ add_step.hidden_tag() }}
          <table>
            <tbody>
              <tr>
                <td>{{add_step.name.label}}</td>
                <td>{{add_step.name()}}</td>

              </tr>
              <tr>
                <td>{{add_step.number.label}}</td>
                <td>{{add_step.number()}}</td>
              </tr>
              <tr>
                <td>{{add_step.submit()}}</td>
              </tr>
            </tbody>
          </table>
        </form>
    </div>

    <div class = item-btns">
      <form method="POST">
        {% if item.complete == False %}
        <input type="submit" class="comp" name="{{item.id}}" value="Y">
        {% elif item.complete == True %}
        <input type="submit" class="uncomp" name="{{item.id}}" value="X">
        {% endif %}
        <input type="submit" class="del" name="{{item.id}}" value="Delete">
      </form>
    </div>
  </div>

 {% endblock %}
