{% extends "base.html" %}

{% block content %}
<header>
<h1>{{categories[category] | title}} </h1>

<div class="navbar">

  {% for category, label in categories.items() %}

    <a href={{category}}>{{label}}</a>
  {% endfor %}

  </div>
</header>

<div class="lists-grid-container">

  <div class = "lists-add-new-item">

  <form method="POST">
    <input type="submit" class="add" name="Add" value="Add New Item">
  </form>

  </div>



  <table id= itemtable>

    <tbody>

        {% for item in list_items %}
        <tr class = "item-container">
          <td class="item">{{item['name']}}</td>
          <td class="desc">{{item['description']}}</td>
          <td class="item-form">
            <form method="POST">
              {% if item.complete == False %}
              <input type="submit" class="comp" name="{{item.id}}" value="Y">
              {% elif item.complete == True %}
              <input type="submit" class="uncomp" name="{{item.id}}" value="X">
              {% endif %}
            </form>
          </td>

          <td class="item-edit">
            <form method="POST">
              <input type="submit" class="edit" name="{{item.id}}" value="Edit">
            </form>
          </td>
        </tr>

        {% endfor %}
    </tbody>
  </table>

  <div class = "random">
    <div class = random-info">
    <h3>Todays random item is: </h3>
    <h1> {{random_item.name}} </h1>
    <p> {{random_item.description}} </p>
    </div>

    <div class = random-btns">
    <form method="POST">
      <input type="submit" class="rand" name="rand" value="Random">

    </form>
    </div>
  </div>
</div>
 {% endblock %}
